<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="common/top"></header>

<div id="userAddresses">
    <h3>Historical Addresses</h3>
    <div class="info" id="AutoAddress" style="display: none;"></div>
</div>

<script src="../js/adjustTopPosition.js"></script>

<div id="Catalog">
    <table>
        <tr>
            <th>&nbsp;</th>
            <th>Product ID</th>
            <th>Name</th>
        </tr>
        <tr th:each="product : ${productList}">
            <td>
                <a th:href="@{/catalog/viewProduct(productId=${product.productId})}" th:text="${product.description}"></a>
            </td>
            <td><b>
                <a th:href="@{/catalog/viewProduct(productId=${product.productId})}" th:text="${product.productId}"></a>
            </b></td>
            <td th:text="${product.name}"></td>
        </tr>
    </table>
</div>

<footer th:replace="common/bottom"></footer>
</body>
</html>