<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        // 页面加载完成后启动定时器
        window.onload = function() {
            // 设置定时器，10 分钟后跳转（10 分钟 = 10 * 60 * 1000 毫秒）
            setTimeout(function() {
                // 跳转到目标页面
                window.location.href = "../../user/viewCart"; // 替换为目标页面的 URL
            }, 10 * 1000); // 10 分钟
        };
    </script>
</head>
<body>
<header th:replace="common/top"></header>

<div id="BackLink">
    <a th:href="@{/catalog/returnMain}">Return to Main Menu</a>
</div>
<script src="../js/adjustTopPosition.js"></script>

<div id="Catalog">
    <p id="confirmOrderTips">Please confirm the information below and then press continue...</p>

    <form th:action="@{/order/newOrder?confirmed=true}" method="post" id="confirmOrderForm">
        <input type="hidden" name="confirmed" value="true">

        <table>
            <tr>
                <th align="center" colspan="4">
                    Order <span th:text="${#dates.format(order?.orderDate, 'yyyy/MM/dd HH:mm:ss')}"></span>
                </th>
            </tr>

            <tr>
                <th colspan="4">Billing Address</th>
            </tr>
            <tr>
                <th>First name:</th>
                <td th:text="${order?.billToFirstName ?: ''}"></td>
                <th>City:</th>
                <td th:text="${order?.billCity ?: ''}"></td>
            </tr>
            <tr>
                <th>Last name:</th>
                <td th:text="${order?.billToLastName ?: ''}"></td>
                <th>State:</th>
                <td th:text="${order?.billState ?: ''}"></td>
            </tr>
            <tr>
                <th>Address 1:</th>
                <td th:text="${order?.billAddress1 ?: ''}"></td>
                <th>Zip:</th>
                <td th:text="${order?.billZip ?: ''}"></td>
            </tr>
            <tr>
                <th>Address 2:</th>
                <td th:text="${order?.billAddress2 ?: ''}"></td>
                <th>Country:</th>
                <td th:text="${order?.billCountry ?: ''}"></td>
            </tr>

            <tr>
                <th colspan="4">Shipping Address</th>
            </tr>
            <tr>
                <th>First name:</th>
                <td th:text="${order?.shipToFirstName ?: ''}"></td>
                <th>City:</th>
                <td th:text="${order?.shipCity ?: ''}"></td>
            </tr>
            <tr>
                <th>Last name:</th>
                <td th:text="${order?.shipToLastName ?: ''}"></td>
                <th>State:</th>
                <td th:text="${order?.shipState ?: ''}"></td>
            </tr>
            <tr>
                <th>Address 1:</th>
                <td th:text="${order?.shipAddress1 ?: ''}"></td>
                <th>Zip:</th>
                <td th:text="${order?.shipZip ?: ''}"></td>
            </tr>
            <tr>
                <th>Address 2:</th>
                <td th:text="${order?.shipAddress2 ?: ''}"></td>
                <th>Country:</th>
                <td th:text="${order?.shipCountry ?: ''}"></td>
            </tr>
        </table>

        <p><input type="submit" name="newOrder" value="Confirm"/></p>
    </form>
</div>

<footer th:replace="common/bottom"></footer>

</body>
</html>