server:
  port: 8090

spring:
  application:
    name: gateway-service

  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: public
        group: DEFAULT_GROUP
        # Gateway也需要注册到Nacos
        enabled: true
        ip: 127.0.0.1
        port: 8090

    loadbalancer:
      ribbon:
        enabled: false
      health-check:
        path: /actuator/health

    gateway:
      routes:
        - id: product-service
          uri: http://127.0.0.1:8081
          predicates:
            - Path=/product-service/**
          filters:
            - StripPrefix=1
        - id: user-service
          uri: http://127.0.0.1:8082
          predicates:
            - Path=/user-service/**
          filters:
            - StripPrefix=1

      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG
    com.alibaba.nacos.client.naming: DEBUG
    org.springframework.cloud.client.discovery: DEBUG
    org.springframework.cloud.openfeign: DEBUG
    com.alibaba.cloud.nacos: DEBUG


