<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="common/top"></header>

<script>
    function reloadCaptcha()
    {
        //获取验证码图片元素
        var captchaImage = document.getElementById('captchaImage');
        //为图片添加一个时间戳参数，确保每次都加载新的验证码
        captchaImage.src = '/user/getCaptcha?' + new Date().getTime();
    }
</script>


<div id="Catalog">
    <form th:action="@{/user/signon}" method="post" id="signOnForm">
        <p id="signOnTitle">Please Enter Your Username And Password</p>
        <div id="formContent">
            <p>
                <span>Username:</span><br>
                <input type="text" name="username" id="username" placeholder="Enter Your Username"> <br><br>

                <span>Password:</span><br>
                <input type="password" name="password" placeholder="Enter Your Password"><br><br>

                <span>Captcha:</span><br>
                <input type="text" name="captchaInput" placeholder="Enter The Captcha" id="captchaInput">&nbsp;
                <img id="captchaImage" th:src="@{/user/getCaptcha}" alt="验证码"
                     style="cursor: pointer;" onclick="reloadCaptcha()">
            </p><br><br><br>

            <span id="needAnAccount">
                Need an account?
                <a th:href="@{/user/viewRegister}">Register Now!</a>
            </span>

            <input type="submit" value="Login" id="submit">

            <a href="#" id="forgetPassword">Forget Your Password?</a>
            <script>
                document.getElementById("forgetPassword").addEventListener("click", function(event) {
                    event.preventDefault(); //阻止默认跳转行为
                    //获取输入框中的用户名
                    var username = document.getElementById("username").value.trim();
                    if (!username)
                    {
                        alert("Please enter your username before resetting your password.");
                        return;
                    }
                    //显示确认框
                    var confirmReset = confirm("Your username: " + username + "\nConfirm to reset your password?");
                    if (confirmReset)
                    {
                        // 用户点击Yes跳转到Controller
                        window.location.href = "/user/forgetPassword?userId=" + encodeURIComponent(username);
                    }
                });
            </script>
            <script th:inline="javascript">
                var message = [[${resetMessage}]] + "";
                if (message && message !== "") {
                    alert(message);
                }
            </script>

            <!-- 错误消息显示 -->
            <p id="requestMessage" th:if="${signOnMsg != null}">
                <font color="red" th:text="${signOnMsg}"></font>
            </p>
        </div>
    </form>
</div>


<footer th:replace="common/bottom"></footer>
</body>
</html>