server:
  port: 8082

spring:
  application:
    name: user-service

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mypetstore-ssm?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: ";0s9HFdr7-vf"

  cloud:
    nacos:
      config:
        enabled: false
        import-check:
          enabled: false
      discovery:
        server-addr: localhost:8848
        namespace: public
        group: DEFAULT_GROUP

  data:
    redis:
      host: 127.0.0.1
      port: 6379

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    org.csu.petstore: debug
    org.springframework.cloud: debug